extends layout

block content
  p Welcome to #[em Memebers only]
 
   if messages 
   each msg in messages 
    br
    h1=msg.title 
    p=msg.text 
    p=msg.formatted_date
    if (user && user.isMember)
     p By #{msg.user.username}
    else 
     p By Unknown
     
   if user 
    h1=user.username
    a(href='/log-out') Log out
   